<!-- About Section -->
<section class="success" id="about" style="text-align: center;">
    <div style="width: 80%; max-width: 1200px; margin: 0 auto; padding: 20px;">
        <div class="row">
            <div style="margin-bottom: 20px;">
                <h2>About</h2>
                <hr class="star-light" style="border: 0; height: 2px; background: #fff;">
            </div>
        </div>
        <div class="row">
            <div style="text-align: left; margin: 0 auto; font-size: 1.1em; line-height: 1.6;">
                <p>
                    Bachelor game Developer graduate at the HKU. I am very enthusiastic to work in a fun
                    and challenging work environment to broaden my skills as a game developer and programmer in general.
                </p>
                <br>
                <p>
                    I want to approach the world of game development by designing and building modular architectures for various gameplay systems.
                    One of my personal fascination with game development is the creation of AI. I enjoy the thought process behind creating a behavior tree and how to implement interesting patterns of behavior. Yet I still wonder what other kinds of challenges await me.
                </p>
                <br>
                <p>
                    I am experienced in C#, Unity, C++, Unreal Engine, Arduino, Java, HTML, CSS, PHP, MySQL, JavaScript, WordPress, and have worked on various projects to build applications and games.
                    After a three-year study of application development at the ROC Flevoland, I decided to pursue my passions for video games and fantasy as a game developer.
                </p>
                <br>
                <p>
                    As a developer, I constantly strive to expand my skills by experimenting with new coding principles and technologies.
                </p>
            </div>
            <!--
            <div style="margin-top: 30px;">
                <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline" style="display: inline-block; padding: 10px 20px; border: 2px solid #fff; color: #fff; text-decoration: none; font-size: 18px; margin-top: 20px;">
                    <i class="fa fa-download"></i> Download Theme
                </a>
            </div>
            -->
        </div>
    </div>
</section>






