<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>
                    Bachelor game Developer graduate at the HKU. I am very enthusiastic to work in a fun
                    and challenging work environment to broaden my skills as a game developer and programmer in general.
                </p>
                <br>
                <p>
                    I want to approach the world of game development by designing and building modular architectures for various gameplay systems.
                    One of my personal fascination with game development is the creation of AI. I enjoy the thought process behind creating a behavior tree and how to implement interesting patterns of behavior. Yet I still wonder what other kinds of challenges await me.
                </p>
                <br>
                <p>
                    I am experienced in C#, Unity, C++,unreal engine, Arduino, Java, HTML, CSS, PHP, MYSQL, Javascript, Wordpress and have worked on various projects to build applications and games.
                    After a Three year Study of application Development at the ROC Flevoland, I decided to pursue my passions for video games and fantasy as a game developer.
                </p>
                <br>
                <p>
                    As a Developer, I constantly strive to expand my skills by experimenting with new coding principles and technologies.
                </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Theme
                </a>
            </div>
        </div>
    </div>
</section>






